{% extends "base.html" %}
{% load static %}
{% block services %}
<body>
    <div class="page-wrapper relative z-[1] bg-white">
        <main class="main-wrapper relative overflow-hidden">
            <!--...::: Breadcrumb Section Start :::... -->
            <section id="section-breadcrumb">
                <!-- Section Spacer -->
                <div class="breadcrumb-wrapper">
                    <!-- Section Container -->
                    <div class="global-container">
                        <div class="breadcrumb-block">
                            <h1 class="breadcrumb-title">Our Services</h1>
                            <ul class="breadcrumb-nav">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li>Our Services</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Section Container -->
                </div>
                <!-- Section Spacer -->
            </section>
            <!--...::: Breadcrumb Section End :::... -->

            <!--...::: Service Section Start :::... -->
            <section id="section-service">
                <!-- Section Spacer -->
                <div class="pb-20 xl:pb-[150px]">
                    <!-- Section Container -->
                    <div class="global-container">
                        <!-- Section Content Block -->
                        <div class="jos mb-10 text-center lg:mb-16 xl:mb-20">
                            <div class="mx-auto max-w-md lg:max-w-xl xl:max-w-[950px]">
                                <h2>We provide smart AI solutions for all tasks</h2>
                            </div>
                        </div>
                        <!-- Section Content Block -->
                        <!-- Service List -->
                        <ul
                            class="jos grid grid-cols-1 gap-[2px] overflow-hidden rounded-[10px] border-2 border-black bg-black sm:grid-cols-2 lg:grid-cols-4">
                            <!-- Service Item -->
                            <li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
                                <div class="relative mb-9 h-[70px] w-[70px]">
                                    <img src="{% static 'assets/img/th-1/service-icon-black-1.svg' %}" alt="service-icon-black-1"
                                        width="70" height="70" />
                                    <img src="{% static 'assets/img/th-1/service-icon-orange-1.svg' %}" alt="service-icon-orange-1"
                                        width="70" height="70"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </div>
                                <h3
                                    class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-[28px]">
                                    <a href="{% url 'service-details' %}" class="hover:text-colorOrangyRed">
                                        Resource Flexibility
                                    </a>
                                </h3>

                                <p class="mb-12 duration-300 group-hover:text-white">
                                    This is an excellent option for people & small businesses
                                    who are starting out.
                                </p>

                                <a href="{% url 'service-details' %}"
                                    class="relative inline-block h-[30px] w-[30px] duration-300">
                                    <img src="{% static 'assets/img/th-1/arrow-right-black.svg' %}" alt="arrow-right-black" width="30"
                                        height="30" />
                                    <img src="{% static 'assets/img/th-1/arrow-right-orange.svg' %}" alt="arrow-right-black" width="30"
                                        height="30"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </a>
                            </li>
                            <!-- Service Item -->
                            <!-- Service Item -->
                            <li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
                                <div class="relative mb-9 h-[70px] w-[70px]">
                                    <img src="{% static 'assets/img/th-1/service-icon-black-1.svg' %}" alt="service-icon-black-1"
                                        width="70" height="70" />
                                    <img src="{% static 'assets/img/th-1/service-icon-orange-1.svg' %}" alt="service-icon-orange-1"
                                        width="70" height="70"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </div>
                                <h3
                                    class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-[28px]">
                                    <a href="{% url 'service-details' %}" class="hover:text-colorOrangyRed">
                                        Managed Services
                                    </a>
                                </h3>

                                <p class="mb-12 duration-300 group-hover:text-white">
                                    This is an excellent option for people & small businesses
                                    who are starting out.
                                </p>

                            <a href="{% url 'service-details' %}"
                                class="relative inline-block h-[30px] w-[30px] duration-300">
                                <img src="{% static 'assets/img/th-1/arrow-right-black.svg' %}" alt="arrow-right-black" width="30"
                                    height="30" />
                                <img src="{% static 'assets/img/th-1/arrow-right-orange.svg' %}" alt="arrow-right-black" width="30"
                                    height="30"
                                    class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                            </a>
                                <!-- Features Item -->
                                <!-- Features Item -->
                            </li>
                            <!-- Service Item -->
                            <!-- Service Item -->
                            <li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
                                <div class="relative mb-9 h-[70px] w-[70px]">
                                    <img src="{% static 'assets/img/th-1/service-icon-black-1.svg' %}" alt="service-icon-black-1"
                                        width="70" height="70" />
                                    <img src="{% static 'assets/img/th-1/service-icon-orange-1.svg' %}" alt="service-icon-orange-1"
                                        width="70" height="70"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </div>
                                <h3
                                    class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-[28px]">
                                    <a href="{% url 'service-details' %}" class="hover:text-colorOrangyRed">
                                        Web-Based Access
                                    </a>
                                </h3>

                                <p class="mb-12 duration-300 group-hover:text-white">
                                    This is an excellent option for people & small businesses
                                    who are starting out.
                                </p>

                            <a href="{% url 'service-details' %}"
                                class="relative inline-block h-[30px] w-[30px] duration-300">
                                <img src="{% static 'assets/img/th-1/arrow-right-black.svg' %}" alt="arrow-right-black" width="30"
                                    height="30" />
                                <img src="{% static 'assets/img/th-1/arrow-right-orange.svg' %}" alt="arrow-right-black" width="30"
                                    height="30"
                                    class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                            </a>
                            </li>
                            <!-- Service Item -->
                            <!-- Service Item -->
                            <li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
                                <div class="relative mb-9 h-[70px] w-[70px]">
                                    <img src="{% static 'assets/img/th-1/service-icon-black-1.svg' %}" alt="service-icon-black-1"
                                        width="70" height="70" />
                                    <img src="{% static 'assets/img/th-1/service-icon-orange-1.svg' %}" alt="service-icon-orange-1"
                                        width="70" height="70"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </div>
                                <h3
                                    class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-[28px]">
                                    <a href="{% url 'service-details' %}" class="hover:text-colorOrangyRed">
                                        Resource Flexibility
                                    </a>
                                </h3>

                                <p class="mb-12 duration-300 group-hover:text-white">
                                    This is an excellent option for people & small businesses
                                    who are starting out.
                                </p>

                            <a href="{% url 'service-details' %}"
                                class="relative inline-block h-[30px] w-[30px] duration-300">
                                <img src="{% static 'assets/img/th-1/arrow-right-black.svg' %}" alt="arrow-right-black" width="30"
                                    height="30" />
                                <img src="{% static 'assets/img/th-1/arrow-right-orange.svg' %}" alt="arrow-right-black" width="30"
                                    height="30"
                                    class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                            </a>
                            </li>
                            <!-- Service Item -->
                            <!-- Service Item -->
                            <li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
                                <div class="relative mb-9 h-[70px] w-[70px]">
                                    <img src="{% static 'assets/img/th-1/service-icon-black-1.svg' %}" alt="service-icon-black-1"
                                        width="70" height="70" />
                                    <img src="{% static 'assets/img/th-1/service-icon-orange-1.svg' %}" alt="service-icon-orange-1"
                                        width="70" height="70"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </div>
                                <h3
                                    class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-[28px]">
                                    <a href="{% url 'service-details' %}" class="hover:text-colorOrangyRed">
                                        Anomaly Detection
                                    </a>
                                </h3>

                                <p class="mb-12 duration-300 group-hover:text-white">
                                    AI SaaS can analyze IoT sensor data to detect predict
                                    equipment failures.
                                </p>

                            <a href="{% url 'service-details' %}"
                                class="relative inline-block h-[30px] w-[30px] duration-300">
                                <img src="{% static 'assets/img/th-1/arrow-right-black.svg' %}" alt="arrow-right-black" width="30"
                                    height="30" />
                                <img src="{% static 'assets/img/th-1/arrow-right-orange.svg' %}" alt="arrow-right-black" width="30"
                                    height="30"
                                    class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                            </a>
                            </li>
                            <!-- Service Item -->
                            <!-- Service Item -->
                            <li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
                                <div class="relative mb-9 h-[70px] w-[70px]">
                                    <img src="{% static 'assets/img/th-1/service-icon-black-1.svg' %}" alt="service-icon-black-1"
                                        width="70" height="70" />
                                    <img src="{% static 'assets/img/th-1/service-icon-orange-1.svg' %}" alt="service-icon-orange-1"
                                        width="70" height="70"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </div>
                                <h3
                                    class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-[28px]">
                                    <a href="{% url 'service-details' %}" class="hover:text-colorOrangyRed">
                                        Predictive Analytics
                                    </a>
                                </h3>

                                <p class="mb-12 duration-300 group-hover:text-white">
                                    Solutions that use AI to predict future trends and outcomes,
                                    such as demand forecastin.
                                </p>

                            <a href="{% url 'service-details' %}"
                                class="relative inline-block h-[30px] w-[30px] duration-300">
                                <img src="{% static 'assets/img/th-1/arrow-right-black.svg' %}" alt="arrow-right-black" width="30"
                                    height="30" />
                                <img src="{% static 'assets/img/th-1/arrow-right-orange.svg' %}" alt="arrow-right-black" width="30"
                                    height="30"
                                    class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                            </a>
                                <!-- Features Item -->
                                <!-- Features Item -->
                            </li>
                            <!-- Service Item -->
                            <!-- Service Item -->
                            <li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
                                <div class="relative mb-9 h-[70px] w-[70px]">
                                    <img src="{% static 'assets/img/th-1/service-icon-black-1.svg' %}" alt="service-icon-black-1"
                                        width="70" height="70" />
                                    <img src="{% static 'assets/img/th-1/service-icon-orange-1.svg' %}" alt="service-icon-orange-1"
                                        width="70" height="70"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </div>
                                <h3
                                    class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-[28px]">
                                    <a href="{% url 'service-details' %}" class="hover:text-colorOrangyRed">
                                        Speech Recognition
                                    </a>
                                </h3>

                                <p class="mb-12 duration-300 group-hover:text-white">
                                    Speech recognition services convert spoken language into
                                    text and accessibility.
                                </p>

                                <a href="{% url 'service-details' %}"
                                    class="relative inline-block h-[30px] w-[30px] duration-300">
                                    <img src="assets/img/th-1/arrow-right-black.svg" alt="arrow-right-black" width="30"
                                        height="30" />
                                    <img src="assets/img/th-1/arrow-right-orange.svg" alt="arrow-right-black" width="30"
                                        height="30"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </a>
                            </li>
                            <!-- Service Item -->
                            <!-- Service Item -->
                            <li class="group bg-white p-[30px] transition-all duration-300 ease-in-out hover:bg-black">
                                <div class="relative mb-9 h-[70px] w-[70px]">
                                    <img src="{% static 'assets/img/th-1/service-icon-black-1.svg' %}" alt="service-icon-black-1"
                                        width="70" height="70" />
                                    <img src="{% static 'assets/img/th-1/service-icon-orange-1.svg' %}" alt="service-icon-orange-1"
                                        width="70" height="70"
                                        class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                                </div>
                                <h3
                                    class="mb-4 block text-xl leading-tight -tracking-[0.5px] group-hover:text-white xl:text-2xl xxl:text-[28px]">
                                    <a href="{% url 'service-details' %}" class="hover:text-colorOrangyRed">
                                        Computer Vision
                                    </a>
                                </h3>

                                <p class="mb-12 duration-300 group-hover:text-white">
                                    Computer vision services use AI to interpret and process
                                    visual information.
                                </p>

                            <a href="{% url 'service-details' %}"
                                class="relative inline-block h-[30px] w-[30px] duration-300">
                                <img src="{% static 'assets/img/th-1/arrow-right-black.svg' %}" alt="arrow-right-black" width="30"
                                    height="30" />
                                <img src="{% static 'assets/img/th-1/arrow-right-orange.svg' %}" alt="arrow-right-black" width="30"
                                    height="30"
                                    class="absolute left-0 top-0 h-full w-full opacity-0 transition-all duration-300 ease-linear group-hover:opacity-100" />
                            </a>
                            </li>
                            <!-- Service Item -->
                        </ul>
                        <!-- Service List -->
                    </div>
                    <!-- Section Container -->
                </div>
                <!-- Section Spacer -->
            </section>
            <!--...::: Service Section End :::... -->

            <!--...::: FAQ Section Start :::... -->
            <section class="faq-section">
                <!-- Section Spacer -->
                <div class="pb-20 xl:pb-[150px]">
                    <!-- Section Container -->
                    <div class="global-container">
                        <div class="grid grid-cols-1 gap-y-10 md:grid-cols-2">
                            <!-- FAQ Left Block -->
                            <div class="jos flex flex-col" data-jos_animation="fade-right">
                                <!-- Section Content Block -->
                                <div class="mb-6">
                                    <div class="mx-auto md:mx-0 md:max-w-none">
                                        <h2>Freely ask us for more information</h2>
                                    </div>
                                </div>
                                <!-- Section Content Block -->
                                <div class="text-lg leading-[1.4] lg:text-[21px]">
                                    <p class="mb-7 last:mb-0">
                                        Our AI SaaS solutions can be quickly deployed, enabling
                                        users to start benefiting from AI capabilities without
                                        lengthy setup and development times in fast-paced
                                        industries.
                                    </p>
                                    <a href="{% url 'faq' %}"
                                        class="button mt-5 rounded-[50px] border-2 border-black bg-black py-4 text-white after:bg-colorOrangyRed hover:border-colorOrangyRed hover:text-white">Ask
                                        you questions</a>
                                </div>
                            </div>
                            <!-- FAQ Left Block -->

                            <!-- FAQ Right Block -->
                            <div class="jos md:ml-10 lg:ml-20 xl:ml-32" data-jos_animation="fade-left">
                                <ul class="accordion tab-content flex flex-col gap-y-6 hidden" id="about-the-company">
                                    <!-- Accordion items -->
                                    <li class="jos accordion-item is-2 rounded-[10px] border-[1px] border-[#EAEDF0] bg-white px-7 py-[30px] active"
                                        data-jos_delay="0.1">
                                        <div
                                            class="accordion-header flex items-center justify-between text-xl leading-[1.2] -tracking-[0.5px] lg:text-[28px]">
                                            <h5>
                                                How can businesses AI for competitive advantage?
                                            </h5>
                                            <div class="accordion-icon">
                                                <img src="{% static 'assets/img/plus.svg' %}" alt="plus" />
                                            </div>
                                        </div>
                                        <div class="accordion-content text-[#2C2C2C]">
                                            <p>
                                                AI refers to the simulation of human intelligence in
                                                machines, enabling them to perform tasks that
                                                typically require human intelligence, such as
                                                learning, reasoning, problem-solving, and
                                                decision-making.
                                            </p>
                                        </div>
                                    </li>
                                    <!-- Accordion items -->
                                    <!-- Accordion items -->
                                    <li class="jos accordion-item is-2 rounded-[10px] border-[1px] border-[#EAEDF0] bg-white px-7 py-[30px]"
                                        data-jos_delay="0.1">
                                        <div
                                            class="accordion-header flex items-center justify-between text-xl leading-[1.2] -tracking-[0.5px] lg:text-[28px]">
                                            <h5>Can AI replace humans in the workforce?</h5>
                                            <div class="accordion-icon">
                                                <img src="{% static 'assets/img/plus.svg' %}" alt="plus" />
                                            </div>
                                        </div>
                                        <div class="accordion-content text-[#2C2C2C]">
                                            <p>
                                                AI refers to the simulation of human intelligence in
                                                machines, enabling them to perform tasks that
                                                typically require human intelligence, such as
                                                learning, reasoning, problem-solving, and
                                                decision-making.
                                            </p>
                                        </div>
                                    </li>
                                    <!-- Accordion items -->
                                    <!-- Accordion items -->
                                    <li class="jos accordion-item is-2 rounded-[10px] border-[1px] border-[#EAEDF0] bg-white px-7 py-[30px]"
                                        data-jos_delay="0.1">
                                        <div
                                            class="accordion-header flex items-center justify-between text-xl leading-[1.2] -tracking-[0.5px] lg:text-[28px]">
                                            <h5>Is AI safe?</h5>
                                            <div class="accordion-icon">
                                                <img src="{% static 'assets/img/plus.svg' %}" alt="plus" />
                                            </div>
                                        </div>
                                        <div class="accordion-content text-[#2C2C2C]">
                                            <p>
                                                AI refers to the simulation of human intelligence in
                                                machines, enabling them to perform tasks that
                                                typically require human intelligence, such as
                                                learning, reasoning, problem-solving, and
                                                decision-making.
                                            </p>
                                        </div>
                                    </li>
                                    <!-- Accordion items -->
                                    <!-- Accordion items -->
                                    <li class="jos accordion-item is-2 rounded-[10px] border-[1px] border-[#EAEDF0] bg-white px-7 py-[30px]"
                                        data-jos_delay="0.1">
                                        <div
                                            class="accordion-header flex items-center justify-between text-xl leading-[1.2] -tracking-[0.5px] lg:text-[28px]">
                                            <h5>What is the future of AI?</h5>
                                            <div class="accordion-icon">
                                                <img src="{% static 'assets/img/plus.svg' %}" alt="plus" />
                                            </div>
                                        </div>
                                        <div class="accordion-content text-[#2C2C2C]">
                                            <p>
                                                AI refers to the simulation of human intelligence in
                                                machines, enabling them to perform tasks that
                                                typically require human intelligence, such as
                                                learning, reasoning, problem-solving, and
                                                decision-making.
                                            </p>
                                        </div>
                                    </li>
                                    <!-- Accordion items -->
                                    <!-- Accordion items -->
                                    <li class="jos accordion-item is-2 rounded-[10px] border-[1px] border-[#EAEDF0] bg-white px-7 py-[30px]"
                                        data-jos_delay="0.1">
                                        <div
                                            class="accordion-header flex items-center justify-between text-xl leading-[1.2] -tracking-[0.5px] lg:text-[28px]">
                                            <h5>What is Artificial Intelligence (AI)?</h5>
                                            <div class="accordion-icon">
                                                <img src="{% static 'assets/img/plus.svg' %}" alt="plus" />
                                            </div>
                                        </div>
                                        <div class="accordion-content text-[#2C2C2C]">
                                            <p>
                                                AI refers to the simulation of human intelligence in
                                                machines, enabling them to perform tasks that
                                                typically require human intelligence, such as
                                                learning, reasoning, problem-solving, and
                                                decision-making.
                                            </p>
                                        </div>
                                    </li>
                                    <!-- Accordion items -->
                                    <!-- Accordion items -->
                                    <li class="jos accordion-item is-2 rounded-[10px] border-[1px] border-[#EAEDF0] bg-white px-7 py-[30px]"
                                        data-jos_delay="0.1">
                                        <div
                                            class="accordion-header flex items-center justify-between text-xl leading-[1.2] -tracking-[0.5px] lg:text-[28px]">
                                            <h5>What are the different types of AI?</h5>
                                            <div class="accordion-icon">
                                                <img src="{% static 'assets/img/plus.svg' %}" alt="plus" />
                                            </div>
                                        </div>
                                        <div class="accordion-content text-[#2C2C2C]">
                                            <p>
                                                AI refers to the simulation of human intelligence in
                                                machines, enabling them to perform tasks that
                                                typically require human intelligence, such as
                                                learning, reasoning, problem-solving, and
                                                decision-making.
                                            </p>
                                        </div>
                                    </li>
                                    <!-- Accordion items -->
                                    <!-- Accordion items -->
                                    <li class="jos accordion-item is-2 rounded-[10px] border-[1px] border-[#EAEDF0] bg-white px-7 py-[30px]"
                                        data-jos_delay="0.1">
                                        <div
                                            class="accordion-header flex items-center justify-between text-xl leading-[1.2] -tracking-[0.5px] lg:text-[28px]">
                                            <h5>What are some practical applications of AI?</h5>
                                            <div class="accordion-icon">
                                                <img src="{% static 'assets/img/plus.svg' %}" alt="plus" />
                                            </div>
                                        </div>
                                        <div class="accordion-content text-[#2C2C2C]">
                                            <p>
                                                AI refers to the simulation of human intelligence in
                                                machines, enabling them to perform tasks that
                                                typically require human intelligence, such as
                                                learning, reasoning, problem-solving, and
                                                decision-making.
                                            </p>
                                        </div>
                                    </li>
                                    <!-- Accordion items -->
                                    <!-- Accordion items -->
                                    <li class="jos accordion-item is-2 rounded-[10px] border-[1px] border-[#EAEDF0] bg-white px-7 py-[30px]"
                                        data-jos_delay="0.1">
                                        <div
                                            class="accordion-header flex items-center justify-between text-xl leading-[1.2] -tracking-[0.5px] lg:text-[28px]">
                                            <h5>
                                                What is the difference between AI and machine
                                                learning?
                                            </h5>
                                            <div class="accordion-icon">
                                                <img src="{% static 'assets/img/plus.svg' %}" alt="plus" />
                                            </div>
                                        </div>
                                        <div class="accordion-content text-[#2C2C2C]">
                                            <p>
                                                AI refers to the simulation of human intelligence in
                                                machines, enabling them to perform tasks that
                                                typically require human intelligence, such as
                                                learning, reasoning, problem-solving, and
                                                decision-making.
                                            </p>
                                        </div>
                                    </li>
                                    <!-- Accordion items -->
                                </ul>>
                            </div>
                            <!-- FAQ Right Block -->
                        </div>
                    </div>
                    <!-- Section Container -->
                </div>
                <!-- Section Spacer -->
            </section>
            <!--...::: FAQ Section End :::... -->

            <!--...::: Testimonial Section Start :::... -->
            <section class="testimonial-section">
                <!-- Section Spacer -->
                <div class="bg-black pb-40 pt-20 xl:pb-[200px] xl:pt-[130px]">
                    <!-- Section Container -->
                    <div class="global-container">
                        <!-- Section Content Block -->
                        <div class="jos mb-10 text-center lg:mb-16 xl:mb-20">
                            <div class="mx-auto max-w-[300px] lg:max-w-[600px] xl:max-w-[680px]">
                                <h2 class="text-white">Positive feedback from our users</h2>
                            </div>
                        </div>
                        <!-- Section Content Block -->

                        <!-- Testimonial List -->
                        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
                            <!-- Testimonial Item -->
                            <div class="jos flex flex-col gap-y-8 rounded-[10px] border-[1px] border-colorCodGray p-[30px] text-white"
                                data-jos_animation="fade-left" data-jos_delay="0.1">
                                <div class="block">
                                    <img src="{% static 'assets/img/th-1/rating.svg' %}" alt="rating" width="146" height="25" />
                                </div>
                                <p>
                                    “This AI SaaS tool has revolutionized the way we process and
                                    analyze data. This is a game-changer for our business.”
                                </p>
                                <div class="flex items-center gap-x-4">
                                    <div class="h-[60px] w-[60px] overflow-hidden rounded-full">
                                        <img src="{% static 'assets/img/th-1/testimonial-img-1.jpg' %}" alt="testimonial-img"
                                            width="60" height="60" class="h-full w-full object-cover object-center" />
                                    </div>
                                    <div class="flex flex-col gap-y-1">
                                        <span class="block text-lg font-semibold leading-[1.6]">
                                            Max Weber
                                        </span>
                                        <span class="block text-sm font-light leading-[1.4]">
                                            HR Manager
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Item -->
                            <!-- Testimonial Item -->
                            <div class="jos flex flex-col gap-y-8 rounded-[10px] border-[1px] border-colorCodGray p-[30px] text-white"
                                data-jos_animation="fade-left" data-jos_delay="0.2">
                                <div class="block">
                                    <img src="{% static 'assets/img/th-1/rating.svg' %}" alt="rating" width="146" height="25" />
                                </div>
                                <p>
                                    "It answers immediately, and we've seen a significant
                                    reduction in response time. Our customers love it and so do
                                    we!"
                                </p>
                                <div class="flex items-center gap-x-4">
                                    <div class="h-[60px] w-[60px] overflow-hidden rounded-full">
                                        <img src="{% static 'assets/img/th-1/testimonial-img-2.jpg' %}" alt="testimonial-img"
                                            width="60" height="60" class="h-full w-full object-cover object-center" />
                                    </div>
                                    <div class="flex flex-col gap-y-1">
                                        <span class="block text-lg font-semibold leading-[1.6]">
                                            Douglas Smith
                                        </span>
                                        <span class="block text-sm font-light leading-[1.4]">
                                            Businessman
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Item -->
                            <!-- Testimonial Item -->
                            <div class="jos flex flex-col gap-y-8 rounded-[10px] border-[1px] border-colorCodGray p-[30px] text-white"
                                data-jos_animation="fade-left" data-jos_delay="0.3">
                                <div class="block">
                                    <img src="{% static 'assets/img/th-1/rating.svg' %}" alt="rating" width="146" height="25" />
                                </div>
                                <p>
                                    "It is accurate, fast and supports multiple languages
                                    support. It is a must for any international business
                                    success."
                                </p>
                                <div class="flex items-center gap-x-4">
                                    <div class="h-[60px] w-[60px] overflow-hidden rounded-full">
                                        <img src="{% static 'assets/img/th-1/testimonial-img-3.jpg' %}" alt="testimonial-img"
                                            width="60" height="60" class="h-full w-full object-cover object-center" />
                                    </div>
                                    <div class="flex flex-col gap-y-1">
                                        <span class="block text-lg font-semibold leading-[1.6]">
                                            Abraham Maslo
                                        </span>
                                        <span class="block text-sm font-light leading-[1.4]">
                                            Founder @ Marketing Company
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Item -->
                            <!-- Testimonial Item -->
                            <div class="jos flex flex-col gap-y-8 rounded-[10px] border-[1px] border-colorCodGray p-[30px] text-white"
                                data-jos_animation="fade-right" data-jos_delay="0.1">
                                <div class="block">
                                    <img src="{% static 'assets/img/th-1/rating.svg' %}" alt="rating" width="146" height="25" />
                                </div>
                                <p>
                                    "Security is a top concern for us, and AI SaaS takes it
                                    seriously. It's a reassuring layer of protection for our
                                    organization."
                                </p>
                                <div class="flex items-center gap-x-4">
                                    <div class="h-[60px] w-[60px] overflow-hidden rounded-full">
                                        <img src="{% static 'assets/img/th-1/testimonial-img-4.jpg' %}" alt="testimonial-img"
                                            width="60" height="60" class="h-full w-full object-cover object-center" />
                                    </div>
                                    <div class="flex flex-col gap-y-1">
                                        <span class="block text-lg font-semibold leading-[1.6]">
                                            Jack Fayol
                                        </span>
                                        <span class="block text-sm font-light leading-[1.4]">
                                            HR Manager
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Item -->
                            <!-- Testimonial Item -->
                            <div class="jos flex flex-col gap-y-8 rounded-[10px] border-[1px] border-colorCodGray p-[30px] text-white"
                                data-jos_animation="fade-right" data-jos_delay="0.2">
                                <div class="block">
                                    <img src="{% static 'assets/img/th-1/rating.svg' %}" alt="rating" width="146" height="25" />
                                </div>
                                <p>
                                    "We were concerned about integrating their APIs were well
                                    documented, and their support team was super cool."
                                </p>
                                <div class="flex items-center gap-x-4">
                                    <div class="h-[60px] w-[60px] overflow-hidden rounded-full">
                                        <img src="{% static 'assets/img/th-1/testimonial-img-5.jpg' %}" alt="testimonial-img"
                                            width="60" height="60" class="h-full w-full object-cover object-center" />
                                    </div>
                                    <div class="flex flex-col gap-y-1">
                                        <span class="block text-lg font-semibold leading-[1.6]">
                                            Karen Lynn
                                        </span>
                                        <span class="block text-sm font-light leading-[1.4]">
                                            Software Engineer
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Item -->
                            <!-- Testimonial Item -->
                            <div class="jos flex flex-col gap-y-8 rounded-[10px] border-[1px] border-colorCodGray p-[30px] text-white"
                                data-jos_animation="fade-right" data-jos_delay="0.3">
                                <div class="block">
                                    <img src="{% static 'assets/img/th-1/rating.svg' %}" alt="rating" width="146" height="25" />
                                </div>
                                <p>
                                    "The return on investment has exceeded our expectations.
                                    it's an investment in the future of our business."
                                </p>
                                <div class="flex items-center gap-x-4">
                                    <div class="h-[60px] w-[60px] overflow-hidden rounded-full">
                                        <img src="{% static 'assets/img/th-1/testimonial-img-6.jpg' %}" alt="testimonial-img"
                                            width="60" height="60" class="h-full w-full object-cover object-center" />
                                    </div>
                                    <div class="flex flex-col gap-y-1">
                                        <span class="block text-lg font-semibold leading-[1.6]">
                                            Henry Ochi
                                        </span>
                                        <span class="block text-sm font-light leading-[1.4]">
                                            Bank Manager
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Item -->
                        </div>
                        <!-- Testimonial List -->
                    </div>
                    <!-- Section Container -->
                </div>
                <!-- Section Spacer -->
            </section>
            <!--...::: Testimonial Section Start :::... -->
        </main>
</body>
{% endblock services %}